<article id="post-{{ post.ID }}" class="{{ post.post_class('body-list') }}">
  {% include 'partials/entry-thumbnail.twig' %}
  {% include 'partials/entry-title.twig' %}
  {% include 'partials/entry-preview.twig' %}

	<div class="entry-meta">
		{% if post.post_type == 'post' %}
      {% include 'partials/entry-date.twig' %}
      {% include 'partials/entry-author.twig' %}
      {% include 'partials/entry-category.twig' %}
      {% include 'partials/entry-tags.twig' %}
		{% endif %}
	</div>

	{% include 'partials/entry-share.twig' %}
</article>
