<header class="entry-header">
  {% if post.link %}
    <h2 class="entry-title">
      <a href="{{ post.link }}" title="{{ post.title|e('html') }}" rel="bookmark">
        {{ post.title }}
      </a>
    </h2>
  {% else %}
    <h1 class="entry-title">{{ post.title }}</h1>
  {% endif %}
</header>
