<div class="footer">
	<div class="footer-social">
		{% include 'partials/social-icons.twig' %}
	</div>

	<div class="footer-copyright">
		Copyright &copy; {{ 'now' | date('Y') }} - {{ __('All rights reserved.', 'bloom') }}
	</div>
</div>
