<article id="post-{{ post.ID }}" class="post -list hentry {{ fn('is_sticky') ? '-sticky' : '' }}">
  {% include 'partials/post-thumbnail.twig' %}
  {% include 'partials/post-title.twig' %}
  {% include 'partials/post-preview.twig' %}

	<div class="post-meta">
		{% if post.post_type == 'post' %}
      {% include 'partials/post-date.twig' %}
      {% include 'partials/post-author.twig' %}
      {% include 'partials/post-category.twig' %}
      {% include 'partials/post-tags.twig' %}
		{% endif %}
	</div>

	{% include 'partials/post-share.twig' %}
</article>
