{% if post.categories %}
  <div class="post-category">
    {% for category in post.categories %}
      <a href="{{ category.link }}" rel="category tag">{{ category.title }}</a>
    {% endfor %}
  </div>
{% endif %}
