{% if post.pagination %}
<div class="post-pagination">
  <div class="post-pagination_title">
    {{ __( 'Pages:', 'bloom' ) }}
  </div>

  <div class="post-pagination_items">
    {% for page in post.pagination.pages %}
      <div class="post-pagination_item">
        {% if page.current %}
          <span>{{ page.title }}</span>
        {% else %}
          <a href="{{ page.link }}">{{ page.title }}</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
