<form class="search" role="search" method="get" action="/">
	<div class="search-input">
		<input type="search" placeholder="{{ __('search', 'bloom') }} ..." value="" name="s" title="{{ __('search', 'bloom') }}" />
	</div>

	<div class="search-button">
		<input type="submit" class="button" value="{{ __('search', 'bloom') }}" />
	</div>
</form>
