<form class="search" role="search" method="get" action="/">
	<div class="search-field">
		<input type="search" class="search-input" placeholder="{{ __('search', 'bloom') }} ..." value="" name="s" title="{{ __('search', 'bloom') }}" />
	</div>

	<div class="search-action">
		<input type="submit" class="button search-submit" value="{{ __('search', 'bloom') }}" />
	</div>
</form>
