{% extends "layouts/default.twig" %}

{% block content %}
	<article class="content-404 not-found">
		<div class="page-content">
			<p class="page-404_icon"><i class="icon -exclamation-triangle"></i> 404</p>
			<p>{{ _e('It looks like nothing was found at this location', 'bloom') }}</p>
		</div>
	</article>
{% endblock %}
