{% extends "layouts/default.twig" %}

{% block body %}
	{% include "partials/#{type}.twig" %}

  {% if post.comment_status == "open" or post.comments %}
    <div class="comments">
      {{ fn('comments_template') }}
    </div>
  {% endif %}
{% endblock %}
