.body {
  display: flex;

  .main {
    flex: 1 1 60%;
    width: 60%;
  }

  .sidebar {
    flex: 0 0 300px;
    background: #ccc;
    width: 300px;
    margin-left: rem-calc($gutter);

    @include breakpoint(-xlarge up) {
      width: 350px;
      flex: 0 0 350px;
      margin-left: rem-calc($gutter-large);
    }
  }

  @include breakpoint(-small down) {
    flex-wrap: wrap;

    .main,
    .sidebar {
      width: 100%;
      flex: 1 1 100%;
      margin: 0;
    }
  }
}
