.head {
  display: flex;
  flex-wrap: wrap;
  margin: rem-calc(0 0 $gutter 0);

  @include breakpoint(-xlarge up) {
    margin-bottom: rem-calc($gutter-large);
  }

  .head-title,
  .head-social {
    flex: 1 1 50%;
    width: 50%;
  }

  .head-social ul {
    line-height: 1;
    font-size: 0;
    list-style: none;
    margin: 0;
    text-align: right;

    li {
      display: inline-block;
      padding: 0;
      font-size: rem-calc($fontsize);
    }
  }

  .head-menu {
    flex: 1 1 100%;
    width: 100%;
  }

  .head-menu ul {
    line-height: 1;
    font-size: 0;
    list-style: none;
    text-align: left;
    margin: 0;

    li {
      display: inline-block;
      font-size: rem-calc($fontsize);
      position: relative;

      &:hover > ul {
        display: block;
      }
    }

    // First level
    li ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
    }

    // Second level
    li ul ul {
      top: 0;
      left: 100%;
    }

    // Third level
    li ul ul ul {
      display: none;
    }
  }
}
