.entry-author,
.entry-tags,
.entry-category,
.entry-date {
  line-height: 1;
}

.entry-share {
  line-height: 1;

  .entry-share_item,
  .entry-share_counter {
    display: inline-block;
  }
}

.entry-thumbnail {
  line-height: 1;

  a, img {
    display: block;
  }
}
