// Vendor
@import 'bloomcss/vendor/bourbon/bourbon';
@import 'bloomcss/vendor/foundation/util/util';

// Bloomcss
@import 'bloomcss/settings';
@import 'bloomcss/utils/utils';
@import 'bloomcss/base/normalize';
@import 'bloomcss/base/foundation';
@import 'bloomcss/base/typography';

// Theme
@import 'wp';

$width: 790px !default;

html .mceContentBody {
	margin: rem-calc(10 0 0 10);
	max-width: $width;
	color: $color-foreground;
	font-size: rem-calc($fontsize);
	font-family: $fontfamily;
	line-height: $lineheight;
}

.mceItemNoResize {
	height: 15px !important;
	max-height: 15px;
}
